@import '../../../styles/mixins.scss';

.wrap {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  gap: rem(4px);
}

.input {
  display: block;
  width: 100%;
  border: 1px solid var(--color-input-border);
  padding: rem(13px);
  border-radius: rem(4px);
  transition: border-color var(--transition-duration-medius);
  outline: none;
  color: var(--color-black);

  &::placeholder {
    color: var(--color-text-gray);
  }

  &:hover:not([disabled]) {
    border-color: var(--color-input-border-hover);
  }

  &:focus:not([disabled]) {
    border-color: var(--color-input-border-focus);

    &::placeholder {
      color: transparent;
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }
}
