@import '../../../styles/mixins.scss';

.form {
  padding: rem(20px) rem(16px);
  max-width: rem(280px);
  background-color: var(--color-white);
  border-radius: rem(4px);
  box-shadow: var(--shadow-form);
  display: flex;
  flex-direction: column;
  gap: rem(16px);

  &__submit {
    margin-top: rem(4px);
    text-transform: uppercase;
  }
}
