@import '../../../styles/mixins.scss';

.form {
  background-color: var(--color-white);
  display: grid;
  gap: rem(16px);

  &__submit {
    margin-top: rem(4px);
    text-transform: uppercase;
  }

  &--col1 {
    width: 100%;
    max-width: rem(280px);
    grid-template-columns: 1fr;
  }

  &--col2 {
    grid-template-columns: 1fr 1fr;

    .form__submit {
      grid-column: span 2;
    }
  }
}

@include iphone-14 {
  .form--col2 {
    grid-template-columns: 1fr;

    .form__submit {
      grid-column: 1;
    }
  }
}
