@import '../../../styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: rem(48px);

  @include tablet-sm {
    gap: rem(24px);
  }
}

.form {
  padding: rem(20px) rem(16px);
  border-radius: rem(4px);
  box-shadow: var(--shadow-form);
}
