@import '../../../styles/mixins.scss';

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(48px);
}

.formswrap {
  display: flex;
  align-items: flex-start;
  gap: rem(10px);
}

.form {
  padding: rem(20px) rem(16px);
  border-radius: rem(4px);
  box-shadow: var(--shadow-form);
}
